body {
  font-family: "Manrope", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39.68px;
}

main {
  background-image: url("https://tygjaceleczftbswxxei.supabase.co/storage/v1/object/public/image_bucket/Content%20Home%20page/Desktop/Main%20foto_DES.png");
  height: 356px;
  margin-bottom: 100px;
}

footer {
  margin-top: 100px;
  height: 207px;
  background-color: #c5e6fd;
  font-size: 14px;
  color: #0f1e28;
}
footer a {
  text-decoration: none;
}
ul {
  font-size: 20px;
  line-height: 26px;
}

a {
  color: #0f1e28 !important;
}

.logo-footer {
  padding-top: 20px;
}

.container-fluid {
  padding: 0;
}
.header {
  margin: 40px 0 40px 100px;
  max-width: 1240px;
  height: 67px;
  background-color: white !important;
}

.logo {
  width: 131px;
  height: 67px;
}

.nav-link {
  font-size: 18px;
}

.toogles ul {
  padding: 0 !important;
}

.toogle {
  margin-right: 20px;
}

.text-main {
  padding: 126px 0 0 97px;
  max-width: 709px;
}
.text-main p {
  font-weight: 400;
}
.text-left-main {
  text-align: left;
  color: #f5fbff;
}
.chats h2 {
  max-width: 361px;
}
.chats {
  margin: 0px 0 40px 100px;
}
.chat-home {
  max-height: 312px;
  max-width: 295px;
}
.img-chat {
  max-width: 295px;
  max-height: 252px;
  color: #f5fbff;
}
.img-chat p {
  max-width: 190px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 100;
}
.chathome-icon {
  background-color: #024a7a;
  max-width: 295px;
  height: 60px;
  color: #f5fbff;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chat1 {
  position: relative;
}

.chat2 {
  position: relative;
}
.chat3 {
  position: relative;
}
.chat4 {
  position: relative;
}
.chat5 {
  position: relative;
}

.chat6 {
  position: relative;
}

.add {
  z-index: 1;
  bottom: 20%;
  left: 40%;
  position: absolute;
}

.footer-menu {
  margin-top: 30px;
  margin-bottom: 38px;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.footer-comment {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
.wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

@media (max-width: 990px) {
  .toogles .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    font-size: 14px !important;
  }
  .header {
    margin: 20px 0 20px 0;
  }

  .left {
    justify-content: left;
  }
  .header button {
    margin-left: 20px;
  }

  .header .logo {
    margin: 0 !important;
  }
  .toogles {
    margin-left: 40px;
  }
  .toogle img {
    width: 48px;
    height: 26px;
  }
  .language img {
    width: 48px;
    height: 26px;
  }
  .footer-comment {
    padding: 0 50px 0 50px;
  }
  .wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (max-width: 670px) {
  main {
    background-image: url("https://tygjaceleczftbswxxei.supabase.co/storage/v1/object/public/image_bucket/Content%20Home%20page/Desktop/Main%20foto%20700px.jpg");
    height: 312px;
    width: 0 auto;
    margin-bottom: 100px;
  }

  .logo {
    width: 70px;
    height: 36px;
  }
  .toogles .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    font-size: 14px !important;
  }
  .toogle img {
    width: 48px;
    height: 26px;
  }
  .language img {
    width: 48px;
    height: 26px;
  }
  .header {
    margin: 20px 0 20px 0;
  }

  .header .logo {
    margin: 0 !important;
  }
  .img-chat p {
    font-size: 14px;
    font-weight: 500;
  }

  .header span {
    width: 25px;
    height: 15px;
  }
  .chathome-icon {
    height: 42px;
  }
  .chathome-icon img {
    height: 16px;
    width: 26px;
  }

  .toogles {
    margin-left: 40px;
  }
  .text-main {
    padding-left: 16px;
  }
  .footer-comment,
  .footer-menu {
    padding: 0 16px 0 16px;
    font-size: 12px;
  }
  .chats {
    margin: 0px 0 40px 0;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }
}
@media (max-width: 363px) {
  main {
    background-image: url("https://tygjaceleczftbswxxei.supabase.co/storage/v1/object/public/image_bucket/Content%20Home%20page/Desktop/Main%20foto%20393px.jpg");
    height: 428px;
    width: 0 auto;
    margin-bottom: 100px;
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  .text-main {
    padding-left: 16px;
  }
  .text-main p {
    font-size: 16px;
    font-weight: 400;
  }
  .img-chat p {
    font-size: 14px;
    font-weight: 500;
  }
  .chathome-icon {
    height: 36px;
  }
  .chathome-icon img {
    height: 16px;
    width: 26px;
  }
  .toogles .navbar-nav {
    flex-direction: row;
  }
  .logo {
    width: 70px;
    height: 36px;
  }
  .toogle img {
    width: 48px;
    height: 26px;
  }
  .language img {
    width: 48px;
    height: 26px;
  }
  .footer-comment {
    padding: 0 16px 0 16px;
  }
  .footer-comment,
  .footer-menu {
    padding: 0 16px 0 16px;
    font-size: 12px;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }
}
