body {
  font-family: "Manrope", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39.68px;
}
main {
  background-image: url(Main\ foto.png);
  height: 356px;
  width: 1440px;
  margin-bottom: 100px;
}
footer {
  margin-top: 100px;
  width: 1440px;
  height: 207px;
  background-color: #c5e6fd;
  font-size: 10px;
}
ul {
  color: #0f1e28;
  font-size: 20px;
  line-height: 26px;
}

footer {
  font-size: 14px;
  color: #0f1e28;
}

.header {
  margin: 40px 0 40px 100px;
  max-width: 1240px !important;
  height: 67px !important;
  background-color: white !important;
}

.logo {
  max-width: 131px;
  max-height: 67px;
}

.text-main {
  padding: 126px 0 0 97px;
  max-width: 709px;
}
.text-main p {
  font-weight: 400;
}
.text-left-main {
  text-align: left;
  color: #f5fbff;
}
.chats h2 {
  max-width: 361px;
}
.chats {
  margin-bottom: 40px;
}
.chat-home {
  height: 312px;
  width: 295px;
}
.img-chat {
  width: 295px;
  height: 252px;
  color: #f5fbff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.img-chat p {
  max-width: 190px;
  font-size: 20px;
}
.chathome-icon {
  background-color: #024a7a;
  width: 295px;
  height: 60px;
  color: white;
  margin: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chat1 {
  background-image: url("../photo/Foto-tent.png");
}
.chat2 {
  background-image: url("../photo/foto-tent1.png");
}
.chat3 {
  background-image: url("../photo/foto-tent2.png");
}
.chat4 {
  background-image: url("../photo/foto-tent3.png");
}
.chat5 {
  background-image: url("../photo/foto-tent4.png");
}

.footer-menu {
  margin-top: 30px;
  margin-bottom: 38px;
}
